<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" href="dashboard.component.css">
</head>

<body>
    <div class="contenedordash">
        <div class="contenedoriz">

            <div class="logo1">
                <img class="imagen1" src="../../../assets/img/logo1.png">
            </div>
            <div class="navcon">


                <h1>inicio</h1>

            </div>
            <div class="navcon2">


                <h5>calendario</h5>

            </div>
            <div class="navcon3">


                <h1>materias</h1>

            </div>
        </div>



        <div class="contenedorde">
            <div class="contenedorde1">
                <div class="buscar">
                    <input type="text" placeholder="Buscar" required>
                    <div class="btn"></div>
                    <i class="busqueda"></i>
                </div>


                <div class="py-3">


                    <!-- <form class="w-100 me-3" role="search">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    </form> -->

                    <div class="dropdown">
                        <button type="button" class="dropbtn">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                class="rounded-circle">
                        </button>

                        <div class="dropdown-content">
                            <a href="https://www.youtube.com/">New project...</a>
                            <a href="/dashboard">Settings</a>
                            <a href="#">Profile</a>
                            <a href="#">Sign out</a>
                        </div>


                    </div>

                </div>
            </div>
            <div class="imagen2">
                <img class="banner" src="../../../assets/img/slide.png">
            </div>

            <div class="contenedor4">
                
            </div>
        </div>
    </div>

    <!-- <div class="contenedordash2">



    </div> -->

</body>