.pag-dashb {
    flex-wrap: nowrap;
    background-color:#E4E6F0 ;
    
}

.tutor-pad {
    padding: 0%;
}

.menu-dashb-principal {
    flex-direction: column;
    background-color: #F6FAFF;
    margin: 20px;
    border-radius: 12px;
    padding: 15px;

}

.menu-dashb {
    flex-direction: column;
    background-color: #F6FAFF;
    margin: 20px;
    border-radius: 12px;
    padding: 15px;

}

.espacio {
    height: 400px;
}
.bucar-dashb {
    background-color: #F6FAFF;
    margin: 20px 12px 12px 0px;
    border-radius: 12px;
    padding: 15px;
}


.grupo {
    margin: 0px 40px 30px 20px;
}

.imagen-slide {
    width: 100%;
    width: 100%;
    padding: 0px;
    margin: 20px 20px 12px 20px;
    justify-content: center;

}

.banner {
    width: 100%;
    height: 100%;
  }
  



.conjunto-items {
    padding: 20px;
}

.buscar {

    display: flex;
    margin-left: auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
  
.dropdown-menu {
    width: auto;
    height: auto;
}

  
.buscar input {
    width: 1035px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
}


.container-logo-dashb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin: 20px 0px 20px;
}

.container-logo-dashb img {   
    width:70%;
    height: 70%;
}

.nav-dashb {
    padding: 0px;
}

.col-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 0px 0px;
    display: block;
}

.col-4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 0px 0px;
    display: block;
}



.iconos {
    width:auto;
    height: auto;
}

.icono-carpeta {
    width:auto;
    height: auto;
    margin-bottom: 20px;
}

.items-dashb {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding: 0%;
}

.items-fuente {
    font-family: 'Poppins', sans-serif;
    color: #5A607F;
    margin:0px;
    font-size: 18px;
}

.columnas {
    flex-direction: column;
}

.caja-dashb{
    background-color: #025FEE;
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 56px;
    height: 56px;
}

.fechatuto{
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0% 5px 0px;

}

.materia-dashb {
    padding: 20px 10px 20px 20px;
    background: rgba(228, 230, 240, 0.5);
    border-radius: 6px;
    margin: 5px;
    flex-wrap: nowrap;
}
.materia-titulo {
    height:98px;
}

.col-1 {
    margin: 15px;
}


.calendario {
    height: 340px;
}

.calendar-column {
    flex-wrap: nowrap;
}

.nowrap {
    flex-wrap: nowrap;
    
}



.calendario-num {
    font-family: 'Quicksand', sans-serif;
    color: #5A607F;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    width: 30px;
    justify-content: center;
}

.calendario-tamaño{
    height: 20px;
    flex-direction: column;
    justify-content: flex-end;
}

.calendario-dia {
    padding: 20px 20px 20px 20px;
    background: rgba(228, 230, 240, 0.5);
    border-radius: 6px;
    margin: 2px;
    justify-content: center;
    flex-direction: column;
}
.caja-calendario{
    /*border-radius: 6px;*/
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20px;
}

.caja-calendario-lleno{
    background-color: rgba(228, 230, 240, 0.5);
    /*border-radius: 6px;*/
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20px;
}

.parrafo {
    width: 100%;
}
p{
    width: 100%;
    height: 50%;
}