<div class="row pag-dashb">

    <div class="col-2 nav-menu-dashb">

        <div class="row menu-dashb">
            <div class="col container-logo-dashb">
                <img src="../../../assets/img/logo1.png">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img class="iconos" src="../../../assets/img/iconos/hogar.svg">
                    </div>
                    <div class="col">
                        <h4>Inicio</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img class="iconos" src="../../../assets/img/iconos/calendario.svg">
                    </div>
                    <div class="col">
                        <h4>calendario</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img class="iconos" src="../../../assets/img/iconos/materias.svg">
                    </div>
                    <div class="col">
                        <h4>Materias</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img class="iconos" src="../../../assets/img/iconos/mensajes.svg">
                    </div>
                    <div class="col">
                        <h4>Mensajes</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img class="iconos" src="../../../assets/img/iconos/tips.svg">
                    </div>
                    <div class="col">
                        <h4>Tips</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                        <img class="iconos" src="../../../assets/img/iconos/Perfil.svg">
                    </div>
                    <div class="col">
                        <h4>Perfil</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">

                    </div>
                    <div class="col">
                        <h4>Salir</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="row">

            <div class="col-10">
                <div class="buscar">
                    <input type="text" placeholder="Buscar" required>
                    <div class="btn"></div>
                    <i class="busqueda"></i>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="../../../assets/img/iconos/notificacion.svg">
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col">

                <div class="row">
                    <div class="col imagen-slide">
                        <img class="banner" src="../../../assets/img/slide.png">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        One of three columns
                    </div>
                    <div class="col">
                        One of three columns
                    </div>
                    <div class="col">
                        One of three columns
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        One of three columns
                    </div>
                    <div class="col">
                        One of three columns
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>