<div class="container-fluid">

    <div class="row pag">

        <div class="col-2">

            <div class="row menu">
                <div class="col logo1">
                    <img class="imagen1" src="../../../assets/img/logo1.png">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                        
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="row">

                <div class="col-10">
                    <div class="buscar">
                        <input type="text" placeholder="Buscar" required>
                        <div class="btn"></div>
                        <i class="busqueda"></i>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="../../../assets/img/notificacion.svg">
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                class="rounded-circle">
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col">

                    <div class="row">
                        <div class="col imagen-slide">
                            <img class="banner" src="../../../assets/img/slide.png">
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col">
                            One of three columns
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col">
                            One of three columns
                        </div>
                        <div class="col">
                            One of three columns
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>