
.menu-dashb {
    flex-direction: column;
    background-color: aqua;
    margin: 24px 12px 24px 24px;
}



.pag-dashb {
    flex-wrap: nowrap;
}

.row > div {
    flex-wrap: nowrap;
}

.buscar {

    margin-left: auto;
    margin-top: 15px;
}
  
  
.buscar input {
    width: 1035px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.imagen-slide {
    width: 100%;
    width: 100%;
}


.container-logo-dashb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    margin-bottom: 10px;
}

.container-logo-dashb img {   
    width:70%;
    height: 70%;
}

.nav-menu-dashb {
    padding: 0px;
}

.col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col {
    padding-top: 10px;
    padding-bottom: 10px;    
}

.iconos {
    width:55%;
    height: 55%;
}